@import '../../styles/user-shared.css';

.password-wrap {
  position: relative;
  width: 100%;
}

.password-wrap .password-input {
  width: 100%;
  box-sizing: border-box;
  padding-right: 44px;
}

.password-wrap .btn-password-toggle {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  z-index: 1;
}
