<app-notification
  *ngIf="notification.show"
  [message]="notification.message"
  [type]="notification.type"
  (closed)="notification.show = false"
></app-notification>

<div class="page">
  <div class="login-box">
    <h1>Đăng nhập</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <app-input
        label="Tài khoản/ Email/ Số điện thoại"
        type="text"
        formControlName="text"
        name="text"
        placeholder="Nhập tên đăng nhập, email hoặc số điện thoại"
        [disabled]="loading"
      ></app-input>

      <app-input
        label="Mật khẩu"
        type="password"
        formControlName="password"
        name="password"
        placeholder="••••••••"
        [showPasswordToggle]="true"
        [disabled]="loading"
      ></app-input>

      <app-button label="Đăng nhập" type="submit" [loading]="loading" loadingText="Đang đăng nhập..."></app-button>
    </form>
  </div>
</div>
