<div class="chart-block">
  <ng-content select=".chart-block__filters"></ng-content>

  <div class="chart-block__summary">
    <span class="chart-block__summary-label">Tổng</span>
    <strong
      class="chart-block__summary-value"
      [class.chart-block__summary-value--currency]="summaryFormat === 'currency'"
    >
      <ng-container *ngIf="loading">…</ng-container>
      <ng-container *ngIf="!loading && summaryFormat === 'currency'">{{
        total | currency: 'VND' : 'symbol' : '1.0-0'
      }}</ng-container>
      <ng-container *ngIf="!loading && summaryFormat === 'number'">{{ total | number }}</ng-container>
    </strong>
  </div>

  <app-dashboard-chart
    [title]="chartTitle"
    [labels]="labels"
    [datasets]="datasets"
    [loading]="loading"
    [chartKind]="chartKind"
    [stacked]="stacked"
    [yFormat]="summaryFormat === 'currency' ? 'currency' : 'number'"
  />
</div>
